
body{
    background-color: #ffffff;
    margin: 1px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
}

p{ 
    margin: 5px;
}
.div1 {
    background-color: #101828;
    grid-column-start: 1;
    grid-row-start: 1;
    color: #ffffff;
}
.p-comum{
    color: #6C757D;
}

.div2 {
    background-color: #101828;
    color: #ffffff;
    grid-column-start: 1;
    grid-row-start: 2;
    gap: 10px;
}
.div2 {
    display: flex;
    justify-content: center;

}
.xp-tag{
    display: flex;
    background-color: #172130;
    height: 80px;
    align-items: center;
    flex-direction: column;
    
}

.div3 {
    background-color: #101828;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}
.bt-nav{
display: flex;
gap: 10px;
margin-top: 20px;
margin-bottom: 10px;
}
.bt-nav button.active-button,
.bt-nav a.active-button {
  background-color: #112652; /* A cor desejada */
  color: white; 
}
.div4 {
    background-color: blue;
    grid-column-start: 1;
    grid-row-start: 5;
}

.div5 {
    background-color: brown;
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
}

.div6 {
    background-color: chartreuse;
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div7 {
    background-color: cornflowerblue;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
}

.div8 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 3;
}
.div8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.timer-display {
  font-size: 3em;
  font-family: monospace;
  margin-bottom: 20px;
  color: #333;
}

.timer-controls{
    display: flex;
}
.timer-controls button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton {
  background-color: #4CAF50; /* Verde */
  color: white;
}

#startButton:hover {
  background-color: #45a049;
}

#resetButton {
  background-color: #f44336; /* Vermelho */
  color: white;
}

#resetButton:hover {
  background-color: #da190b;
}
.reset-counter {
  margin-top: 15px;
  font-size: 1.1em;
  color: #555;
}

#resetCount {
  font-weight: bold;
  color: #112652;
}
        